@-webkit-keyframes buttonSpinnerFlipIn {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  15% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  20% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  25% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  33% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  66% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  75% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes buttonSpinnerFlipIn {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  15% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  20% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  25% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  33% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  66% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  75% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@-webkit-keyframes buttonSpinnerShake {
    0%,100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    25%,75% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
}

@keyframes buttonSpinnerShake {
    0%,100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    25%,75% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
}

@keyframes buttonSpinnerRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes buttonSpinnerRotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.action-button-flip-in {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: buttonSpinnerFlipIn;
  animation-name: buttonSpinnerFlipIn;
}

.error-shown {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: buttonSpinnerShake;
  animation-name: buttonSpinnerShake;
}

.action-button-spinner {
    position: relative;
}

.action-button-spinner-ct {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.action-button-spinner .action-button-success {
    font-size: 24px;
}

.action-button-spinner.btn-lg .action-button-success {
    font-size: 26px;
}

.action-button-spinner.btn-sm .action-button-success {
    font-size: 19px;
}

.action-button-spinner.btn-xs .action-button-success {
    font-size: 14px;
}

.loading-animation {
    display: inline-block;
    height: 0;
    opacity: 0;
    position: relative;
    transition: opacity 0.25s, width 0.25s;
    border-color: transparent rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    margin: 0 8px;
    width: 0;
}

.action-button-spinner .loading-animation {
    margin: 0;
}

.action-button-spinner .loading-animation.active {
    height: 15px;
    width: 15px;
    opacity: 1;
    vertical-align: middle;
    -webkit-animation: buttonSpinnerShake .6s infinite linear;
    animation: buttonSpinnerRotation .6s infinite linear;
}

.action-button-spinner .loading-animation.active.lg {
    height: 50px;
    width: 50px;
    border-width: 4px;
}

.btn-sm .loading-animation.active {
    width: 10px;
    height: 10px;
}
