@keyframes buttonSpinnerFlipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  15% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  20% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  25% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  33% {
    transform: perspective(400px);
  }

  66% {
    transform: perspective(400px);
  }

  75% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes buttonSpinnerShake {
    0%,100% {
        transform: translate3d(0, 0, 0);
    }

    25%,75% {
        transform: translate3d(-5px, 0, 0);
    }

    50% {
        transform: translate3d(5px, 0, 0);
    }
}

@keyframes buttonSpinnerRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
