<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">gavant-ember-button-spinner</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{button-basic icon="user" label="Icon Test"}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    isSpinning=linkedIsSpinning
                    successShown=linkedSuccessShown
                    errorShown=linkedErrorShown
                    size="lg"
                    type="primary"
                    icon="user"
                }}
                    With Promise (linked)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    isSpinning=linkedIsSpinning
                    successShown=linkedSuccessShown
                    errorShown=linkedErrorShown
                    type="success"
                    outline=true
                }}
                    With Promise (linked)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    type="success"
                }}
                    With Promise (success)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    type="info"
                }}
                    With Promise (info)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    type="secondary"
                }}
                    With Promise (secondary)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    type="dark"
                }}
                    With Promise (dark)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    type="light"
                }}
                    With Promise (light)
                {{/button-spinner}}
            </p>
        </div>
        <div class="col">
            <p>
                {{#button-spinner
                    action=(action "clickWithRejectedPromise")
                    size="lg"
                    type="warning"
                }}
                    With Rejected Promise
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    showSuccess=false
                    size="sm"
                    type="info"
                }}
                    With Promise (no success)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithRejectedPromise")
                    showError=false
                    type="danger"
                    outline=true
                }}
                    With Rejected Promise (no error)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithoutPromise")
                    size="lg"
                    type="secondary"
                }}
                    Without Promise (lg)
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithInstantRejectedPromise")
                    type="danger"
                }}
                    Rejected Promise
                {{/button-spinner}}
            </p>
            <p>
                {{#button-spinner
                    action=(action "clickWithoutPromise")
                    size="sm"
                }}
                    Without Promise (sm)
                {{/button-spinner}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    block=true
                }}
                    Block Button
                {{/button-spinner}}
            </p>
        </div>
        <div class="col-6">
            <p>
                {{#button-spinner
                    action=(action "clickWithPromise")
                    type="primary"
                    block=true
                }}
                    Block Button
                {{/button-spinner}}
            </p>
        </div>
    </div>
</div>
{{outlet}}
